In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import svm

In [3]:
df = pd.read_csv(r'diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df.groupby(df.Outcome).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [5]:
X = df.drop(columns='Outcome')
Y = df['Outcome']
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [7]:
scaler = StandardScaler()

In [8]:
x_train_std = scaler.fit_transform(x_train)
x_test_std = scaler.fit_transform(x_test)

In [9]:
x_test_std

array([[-0.49172884, -0.89244776,  0.25204195, ..., -0.45987031,
        -0.78563083, -0.91938236],
       [-0.49172884,  0.38069168,  0.78667639, ..., -0.58353021,
        -0.59662063, -0.51439128],
       [-1.09512519, -0.45771722,  0.46589573, ...,  0.22025917,
        -0.75470189, -0.75738593],
       ...,
       [-1.09512519,  0.47384822,  0.46589573, ..., -0.03942663,
        -0.22203678, -1.00038058],
       [ 0.41336568,  0.62910913,  2.06979904, ...,  1.9885958 ,
        -0.79250393,  0.2955909 ],
       [-0.79342702, -1.35823048, -1.0310807 , ..., -1.20182973,
        -0.7203364 , -1.00038058]])

In [10]:
model= LogisticRegression()

In [11]:
model.fit(x_train,y_train)

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
x_train_pred= model.predict(x_train)
x_test_pred = model.predict(x_test)

In [13]:
train_acc =  accuracy_score(y_train,x_train_pred) 
test_acc =  accuracy_score(y_test,x_test_pred)

In [14]:
print('train acc = ',train_acc)
print('test acc = ',test_acc)

train acc =  0.7768729641693811
test acc =  0.7662337662337663

In [15]:
model_std = LogisticRegression()
model.fit(x_train_std,y_train)

x_train_std_pred= model.predict(x_train_std)
x_test_std_pred = model.predict(x_test_std)

train_std_acc =  accuracy_score(y_train,x_train_pred) 
test_std_acc =  accuracy_score(y_test,x_test_pred) 

print('std train acc = ',train_std_acc)
print('std test acc = ',test_std_acc)

std train acc =  0.7768729641693811
std test acc =  0.7662337662337663

In [16]:
ip_data=(1,89,66,23,94,28.1,0.167,21)
ip_data_array = np.asarray(ip_data)
ip_data_array_re=ip_data_array.reshape(1,-1)
pred = model.predict(ip_data_array_re)
if (pred[0] == 0):
    print("Non Diabetes")
else:
    print("Diabetes")

Diabetes

In [17]:
classifier = svm.SVC(kernel='linear')

In [18]:
classifier.fit(x_train_std,y_train)

SVC(kernel='linear')

In [19]:
x_train_svm_pred= classifier.predict(x_train_std)
x_test_svm_pred = classifier.predict(x_test_std)

train_svm_acc =  accuracy_score(y_train,x_train_svm_pred) 
test_svm_acc =  accuracy_score(y_test,x_test_svm_pred) 

print('svm train acc = ',train_svm_acc)
print('svm test acc = ',test_svm_acc)

svm train acc =  0.7719869706840391
svm test acc =  0.7662337662337663